<%= render 'layouts/header' %>
<h1>使い方</h1>
<ul>
<li>ユーザー登録なしの場合</li>
糸検索->刺繍糸を糸の色番号、色、トーン等から検索することができます。<br>
使い方->このページです。<br>
ログイン->ログインまたは新規登録ができます。<br>
contact->連絡先です。不備があればDM等でご連絡ください。<br><br>
<li>ログインした場合</li>
糸検索->刺繍糸を糸の色番号、色、トーン等から検索することができます。"リストに追加"ボタンを押すと、買う糸リストに追加されます。<br>
使い方->このページです。<br>
買う糸リスト->リストに追加した糸の一覧を見ることができます。"削除"ボタンを押すとリストから削除します。<br>
ログアウト->ログアウトできます。自動ログインを有効にしている場合は、ログアウトボタンを押さなければブラウザを閉じてもログイン状態のままになっています。<br>
contact->連絡先です。不備があればDM等でご連絡ください。
</ul>
<%= render 'layouts/footer' %>
